---
title: Contact
description:
image:

navigation_weight: 3
layout: contact
logo_image_path: /images/image7.jpeg

map_latitude: 41.2769
map_longitude: 174.7731
map_zoom: 15
---

<div class="l-container-small">
    <h1>Contact us</h1>
    <p>
        Here is some information about all of the things you might need to contact us about probably a good idea to put the contact details on this page
    </p>
        <form id="contactForm">
            <div class="contact__form-field">
                <label for="firstName">Name *</label>
                <input id="firstName" type="text" name="firstName" required> 
            </div>
            <div class="contact__form-field">
                <label for="email">Email *</label>
                <input id="email" type="email" name="email" required> 
            </div>
            <div class="contact__form-field">
                <label for="phoneNumber">Phone number</label>
                <input type="number" name="phoneNumber"> 
            </div>
            <div class="contact__form-field">
                <label for="message">Message *</label>
                <textarea id="message" type="text" name="Message" required></textarea>
            </div>
            <div class="contact__form-field">
                <input type="submit" value="Submit">
            </div>
            <!-- <button class="g-recaptcha" 
                data-sitekey="reCAPTCHA_site_key" 
                data-callback='onSubmit' 
                data-action='submit'>Submit</button> -->
        </form>
        <div id="contact__error"></div>

        {% include /opening-hours.html %}

        {% include /google-map.html latitude=page.map_latitude longitude=page.map_longitude zoom=page.map_zoom %}
</div>