---
title: Contact
description:
image:

navigation_weight: 3
layout: default
logo_image_path: /images/image7.jpeg

map_latitude: 45.8787605
map_longitude: 170.5027976
map_zoom: 10
---

<div class="l-container-small">
    <h1>Contact us</h1>
    <p>
        Here is some information about all of the things you might need to contact us about probably a good idea to put the contact details on this page
    </p>
        <form>
            <div class="contact__form-field">
                <label for="firstName">Name</label>
                <input type="text" name="firstName"> 
            </div>
            <div class="contact__form-field">
                <label for="email">Email</label>
                <input type="email" name="email"> 
            </div>
            <div class="contact__form-field">
                <label for="message">Message</label>
                <textarea type="text" name="Message"></textarea>
            </div>
            <div class="contact__form-field">
                <input type="submit" value="Submit">
            </div>
        </form>

        {% include /opening-hours.html %}

        {% include /google-map.html latitude=page.map_latitude longitude=page.map_longitude zoom=page.map_zoom %}
</div>