// variables
$unit: 8px;

$main-blue: #8fc6c4;
$light-green: #c7e6d7;

$error: #f86871;

$pink: #ff5d8f;
$light-pink: #ffc4d6;

$light-green: #a5ffd6;
$mid-green: #84dcc6;

$blue: #023e8a;
$mid-blue: #0077b6;

// layout
@mixin layout {
    padding-left: $unit * 5;
    padding-right: $unit * 5;
    margin-left: auto;
    margin-right: auto;
}

// breakpoints