<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% seo %}
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">

  </head>
  <body>
    <header class="default__header-container">
      <div class="l-container-wide default__image-container">
        <nav>
          <ul>
            <div class="default__logo-container">
              <li>
                <a href="/">
                  <div class="default__logo" style="background-image:url('{{page.logo_image_path}}')"></div>
                </a>
              </li>
            </div>
            <div class="default__nav-name">MELISSA MEPHAM</div>
            <div class="default__nav-link-container">
              {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
              {% for p in navigation_pages %}
              {% if p.navigation_weight %}
              <li>
                <a
                  href={{p.url}} {% if p.url == page.url %} class="active" {% endif %}>
                {{ p.title | upcase }}
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </div>
          </ul>
        </nav>
      </div>
    </header>
    <div>
      {{ content }}
    </div>
    <footer class="default__footer-container">
      <div class="l-container-wide">
        Hello
      </div>
    </footer>
  </body>
</html>
