---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    
  </head>
  <body>
    <header class="default__header-container">
      <div class="l-container-wide">
        <nav>
          <ul>
            <div class="default__logo-container">
              <li>
                <a href="/">
                  <img class="default__logo" src="http://place-puppy.com/50x50" alt="Home link">
                </a>
              </li>
            </div>

            <div class="default__nav-link-container">
              {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
              {% for p in navigation_pages %}
              {% if p.navigation_weight %}
              <li>
                <a
                  href={{p.url}} {% if p.url == page.url %} class="active" {% endif %}>
                {{ p.title | upcase }}
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </div>
          </ul>
        </nav>
      </div>
    </header>
    <div>
      {{ content }}
    </div>
    <footer>
      <div class="l-container-wide">
      </div>
    </footer>
  </body>
</html>
